/* Variables para los colores (Custom propierties) */
:root{
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue:hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
}

/*Ajustar el border box, y el valor de 1rem a 10px*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}

/* Utilizar fuentes, evitar google fonts de forma directa por razones legales*/
@font-face{
    font-family: 'Plus Jakarta Sans';
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
/* indicar que la fuente se utiliza en toda la pagina */
body{
    font-family: 'Plus Jakarta Sans';
    font-size: 1.6rem; /*Establecer el tamaño de la fuente a 16px*/
}

.main{ /*Hay que usar rem en los paddings*/
    /* padding: 2.4rem 1.6rem; */
    width: min(95%, 120rem);/*Ocupar el 95% del ancho disponible*/
    margin: 0 auto; /*Centrar el contenido, 0 en top y bottom auto en los laterales*/
}

/* Estilos para el head notifications */
.notifications{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    & .title{ /* Anidamiento de clases, antes se usaba BEM para ordenar los estilos o SASS pero con el anidamiento ya no es necesario*/
        color: var(--Very-dark-blue);
        font-weight: 800;
        font-size: 2rem;/*20px*/
        word-spacing: 1rem;
    }
    & .number{
        display: inline-block; /*Span por defecto se comporta como un elemento inline*/
        background-color: var(--Blue);
        color: var(--White);
        width: 3.2rem;
        height: 2.5rem;
        text-align: center;
        border-radius: 0.6rem;
    }
    & .mark{
        color: var(--Dark-grayish-blue);
        font-size: 1.4rem; /* 14px */
        font-weight: 500;
        cursor: pointer;
        &:hover{
            color: var(--Blue);
        }
    }
}

.post{
    /*Estilos generales para el div post*/
    background-color: var(--Very-light-grayish-blue);
    border-radius: 0.8rem;
    display: flex;    
    gap: 1.3rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;/*14px*/
    cursor: pointer;
    margin-bottom: 1rem;
    color: var(--Dark-grayish-blue);
    /*position: relative; /*Como regerencia para el img que usa absolute*/
    /*Estilos para la imagen del usuario*/
    /* min-width: 320px;Tamaño minimo del post */
    & .no-interlineado{
        line-height: 0.5;
    }
    & .image{
        width : 3.9rem;
        height: 3.9rem;
        display: inline-block;
        margin-top: 1.6rem;
    }
    /*Estilos para el nombre del usuario*/
    & .name{
        font-weight: bold;
        color: var(--Very-dark-blue);
        &:hover{
            color:var(--Blue)
        }
    }
    /*Estilo para la "reaccion"*/
    & .reaction{
        font-weight: bold;
        &:hover{
            color: var(--Blue);
        }
    }
    /* Estilos para el tiempo de la notificacion*/
    & .time{
        color: var(--Grayish-blue);
        font-size: 1.4rem; /*14px*/
        font-weight: 500;
        margin-top: -1rem;
    }
    /* Estilo en particular de Jacob, pienso que no es necesario*/
    & .group{
        color: var(--Blue);
        font-weight: bold;
    }
    /*Estilos para el mensaje inbox*/
    & .message-container{
        border: 1px solid var(--Light-grayish-blue-2);
        border-radius: 0.5rem;
        padding: 1rem;
        margin-top: 1rem;        
        &:hover{
            background-color: var(--Light-grayish-blue-1);
        }
    }
    /*Estilos para la imagen del ajedrez*/
    & .picture{
        width: 4.5rem;
        height: 4.5rem;        
        margin-left: auto;
        margin-top: 1.5rem;
        /*position: absolute; /*Toma como padre el div post*/
        /*right: 16px;*/
    }
}

/*Estilos para las notificaciones no leidas*/
.not-read{
    display: inline-block; /*La calse esta dentro de un span, necesitamos que tenga propiedades block*/
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-left: 0.8rem;
    background-color: var(--Red);
}

/* Estilos de la vista de escritorio*/
@media (min-width: 768px){
    .main{
        width: 768px;
    }
    .post{
        font-size: 1.6rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}